@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Leckerli+One|Open+Sans|Roboto');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Homemade Apple', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Leckerli One', cursive;*/
*{
	margin:0;
	padding:0;
  box-sizing: content-box;
}
body{
  /*background-color: #000;*/
  color: #222;
  font-family: 'Roboto', sans-serif;
}
#content{
	padding:0;
	display:none;
}
/*animate button cool*/
.boxs {
  position:relative;
	border: none;
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  background-color: #d65;
  text-align: center;
  transition: 0.5s;
  padding: 8px 20px;
  cursor: pointer;
  -webkit-transition:0.5s;
}

.boxs:hover {
  border: 2px solid rgba(0,160,80,0);
  color: #d65;
	background-color: #fff;
}

.boxs::before, .boxs::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  boxs-sizing: border-boxs;
  -webkit-transform: scale(0);
  transition: 0.5s;
}
.bar::before {
  border-bottom: 3px solid #FFF;
  border-left: 3px solid #FFF;
  -webkit-transform-origin: 100% 0%;
}

.bar::after {
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  -webkit-transform-origin: 0% 100%;
}
.boxs:hover::after, .boxs:hover::before {
  -webkit-transform: scale(1);
}

header{
  background: url('../images/header.jpg')no-repeat center center;
	background-size: cover;
	height: 100vh;
  width: 100%;
  background-attachment: fixed;
  text-align: center;
}
.text-header{
  color: #fff;
  font-size: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.text-header h1{
  font-family: 'Leckerli One', cursive;
  font-size: 550%;
}
.text-header .fancy{
  text-align: center;
  overflow: hidden;
  font-size: 22px;
  font-family: 'Homemade Apple', cursive;
}
.text-header .fancy:after, .text-header .fancy:before{
  background-color: #e0e1dc;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}
.text-header .fancy:before{
  right: 0.5em;
  margin-left: -50%;
}
.text-header .fancy:after{
  left: 0.5em;
  margin-right: -50%;
}


/*section*/
.wrap-top{
  background: #f7f0f0;
  padding: 5% 10px 40px 10px;
}
.wrap-top h3{
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.wrap-top ul{
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
.wrap-top li{
  list-style: none;
  text-align: center;
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Leckerli One', cursive;
  border: 1px solid rgba(180,128,107, 0.8);
  border-radius: 8px;
  color: rgba(180,128,107, 0.8);
}
.wrap-top li .fa{
  font-size: 80px;
  padding : 1rem;
}

.wrap-top li:hover{
  background-color: rgba(180,128,107, 0.8);
  color: #fff;
}
.wrap-top li .fa:hover{
  font-size: 80px;
  color: #fff;
}
.wrap-top .aboutus{
  padding: 0 5%;
  text-align: justify;
}
.info{
  background-color: #f7f0f0;
  padding-top: 5%;
}
.wrap-info{
  padding: 0 5%;
}
.pets-baground{
  background-image: url('/assets/images/pets.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}
.info .box{
  border: 1.5px solid rgba(180,128,107, 0.8);
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 7%;
  opacity: 0.8;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.image-thumbnail{
  display: block;
  line-height: 1.42857143;
  margin-bottom: 20px;
}
.image-thumbnail .figure{
  border-bottom: 1px solid #ddd;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover !important;
  transition: opacity 0.2s;
  height: 350px;
  width: 100%;
}
.bungkus{
  background-image: url('../assets/images/pets.png');
}

.bottom{
  background-color: #322;
  color: #fafafa;
  text-align: center;
  padding: 20px 5%;
}
.bottom .social-media-button li{
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
}
.social-media-button li a{
  color: #fff;
}
.social-media-button li a:hover{
	color: #d65;
}
.social-media-button li i{
  font-size: 22px;
}
